* {
  font-family: Lato;
}

a {
  color: darkblue;
}

.mat-toolbar {
  display: flex;
  justify-content: space-between;
  background-color: #1A6985;
  color: white;
}

.mapBox>button {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  text-align: center;
  width: auto;
  background-color: blue;
  height: initial;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
}
